<%= form_for @listing, url: { action: "create"} do |form| %>
  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control mr-sm-1 field" %>
  </div>

  <div class="field">
    <%= form.label :max_guests, "Max Guests" %>
    <%= form.text_field :max_guests, class: "form-control mr-sm-1 field" %>
  </div>

  <div class="field">
    <%= form.label :bedrooms %>
    <%= form.text_field :bedrooms, class: "form-control mr-sm-1 field" %>
  </div>

  <div class="field">
    <%= form.label :baths %>
    <%= form.text_field :baths, class: "form-control mr-sm-1 field" %>
  </div>

  <div class="field">
    <%= form.label :amenities %>
    <%= form.text_field :amenities, class: "form-control mr-sm-1 field" %>
  </div>

  <div class="field">
    <%= form.label :tags, "Tags (separate with single space)" %>
    <%= form.text_field :tags, class: "form-control mr-sm-1 field" %>

  <div class="field">
    <%= form.label :rate_in_usd, "Rate in USD" %>
    <%= form.text_field :rate_in_usd, class: "form-control mr-sm-1 field" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
