<h1>Edit Profile</h1>

<div class="section">
  <%= form_for @user, url: {action: "update"}, remote: true do |form| %>

    <% if !@user.avatar.file.nil? %>
      <div>
        <%= image_tag(@user.avatar.url, id: "profile-picture", height: "400", width: "400") %>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control mr-sm-1" %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control mr-sm-1" %>
    </div>

    <div class="field">
      <%= form.label :username %>
      <%= form.text_field :username, class: "form-control mr-sm-1" %>
    </div>

    <div class="field">
      <%= form.label :avatar %>
      <%= form.file_field :avatar %>
    </div>

    <%= form.submit "Update", class: "btn btn-outline-secondary btn-sm" %>
  <% end %>
</div>

<div class="other-fields">
  <%= link_to "Home", root_path %>
  <%= link_to "View profile", user_path(current_user.id) %>
</div>

<style>
  img {
    border-radius: 40px;
  }

  .section {
    margin: 10px;
  }
</style>
