<h1>PairBnB</h1>


<% if signed_in? %>
  <%= current_user.email %>
  <%= link_to "Create listing", new_listing_path %>
  <%= button_to "Sign out", sign_out_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", sign_in_path %>
<% end %>
<%= link_to "Sign in with Facebook", "/auth/facebook" %>
