<h1>New Reservation</h1>

<% current_reservations = Reservation.where(listing_id: @reservation.listing_id) %>
<% if current_reservations.length > 0 %>
  <h4>Current Reservations on this Property</h4>
  <ul>
  <% current_reservations.each do |cur_res| %>
    <li><%= "Reservation from #{cur_res.start_date} to #{cur_res.end_date}" %></li>
  <% end %>
  </ul>
<% end %>


<%= form_for @reservation, url: {action: "create"} do |form| %>

  <div class="field">
    <%= form.label :start_date, "Start Date (enter in format YYYY-MM-DD)" %>
    <%= form.text_field :start_date, class: "form-control mr-sm-1" %>
  </div>

  <div class="field">
    <%= form.label :end_date, "End Date (enter in format YYYY-MM-DD)" %>
    <%= form.text_field :end_date, class: "form-control mr-sm-1" %>
  </div>

  <div class="field">
    <%= form.label :num_guests, "Number of guests" %>
    <%= form.text_field :num_guests, class: "form-control mr-sm-1" %>
  </div>
  <%= form.hidden_field(:user_id, value: current_user.id) %>
  <%= form.hidden_field(:listing_id, value: @reservation.listing_id) %>
  <%= form.submit "Create" %>

<% end %>
<div>
  <span><%= link_to "Home", root_path %></span>
  <span><%= link_to "Back to listings", listings_path %></span>
</div>
